{% extends 'shop/index.html' %}
{% load static %}
{% block content %}
  {% if articles %}
    <div class="row mt-4">
    <div class="col-12">
        <div class="shadow p-2 mb-4">
            <div class="d-flex justify-content-end">
              <h2 class="me-auto">Shopping Cart</h2>
                <p class="fw-bold p-2">Total </p>
                <p><a class="btn btn-danger" href="{% url 'checkout' %}">Checkout</a></p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="shadow p-2 mb-4">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nr.</th>
                    <th scope="col">Image</th>
                    <th scope="col">Article</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  {% for article in articles %}
                  <tr>
                    <th scope="row">{{article.id}}</th>
                    <td><img src="{{article.article.image.url}}" width="250" height="200" alt="..."></td>
                    <td>{{article.article.name}}</td>
                    <td>{{article.quantity}}</td>
                    <td>{{article.article.price}}€</td>
                    <td>{{article.get_sum}}€</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    </div>
    {% else %}
    <h2>Your shopping cart is empty.</h2>
    {% endif %}
{% endblock content %}