{% extends 'shop/index.html' %}  <!--adds the default/parent template to the current one-->
{% load static %}

{% block content %}
<div class="row row-cols-3">
  {% for article in articles %}  
    <div class="col mb-4">
        <div>&nbsp;</div>
        <div class="card mb-4" style="max-width: 25rem;">
          {% if article.image %} 
            <img src= "{{article.image.url}}" class="card-img-top" alt="...">
          {% else %}
            <img src= "{% static 'images/dummy.png' %}" class="card-img-top" alt="...">
          {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{article.name}}</h5>
              <p class="card-text">{{article.description}}</p>
              <p class="card-text">{{article.price}} €</p>
              <button data-article="{{article.id}}" data-action="order" class="btn btn-primary basket-button">Add to shopping cart</button> <!--data-X = eigenes html attribut, data-article = requests the current article.id, data-action = button shall trigger the current article with the "order"-action   -->
            </div>
          </div>
        </div>
    {% endfor %}    
</div>




{% endblock content %}