{% extends 'shop/index.html' %}
{% load static %}

{% block content %}
<div class="row row-cols-3">
    <div class="col mb-4">
        <div>&nbsp;</div>
        <div class="card mb-4" style="max-width: 25rem;">
            <img src="{% static 'images/minolta.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Minolta XG-M</h5>
              <p class="card-text">Wonderful analog camera from the mid to late 20th century. For analog enthusiasts <br>30€</p>
              <a href="#" class="btn btn-primary">Add to your shopping cart</a>
            </div>
          </div>

          <div class="card mb-4" style="max-width: 25rem;">
            <img src="{% static 'images/minolta.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Minolta XG-M</h5>
              <p class="card-text">Wonderful analog camera from the mid to late 20th century. For analog enthusiasts <br>30€</p>
              <a href="#" class="btn btn-primary">Add to your shopping cart</a>
            </div>
          </div>

          <div class="card mb-4" style="max-width: 25rem;">
            <img src="{% static 'images/minolta.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Minolta XG-M</h5>
              <p class="card-text">Wonderful analog camera from the mid to late 20th century. For analog enthusiasts <br>30€</p>
              <a href="#" class="btn btn-primary">Add to your shopping cart</a>
            </div>
          </div>
    </div>

<div class="col mb-4">
    <div>&nbsp;</div>
          <div class="card mb-4" style="max-width: 25rem">
            <img src="{% static 'images/minolta.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Minolta XG-M</h5>
              <p class="card-text">Wonderful analog camera from the mid to late 20th century. For analog enthusiasts <br>30€</p>
              <a href="#" class="btn btn-primary">Add to your shopping cart</a>
            </div>
          </div>

          <div class="card mb-4" style="max-width: 25rem">
            <img src="{% static 'images/minolta.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Minolta XG-M</h5>
              <p class="card-text">Wonderful analog camera from the mid to late 20th century. For analog enthusiasts <br>30€</p>
              <a href="#" class="btn btn-primary">Add to your shopping cart</a>
            </div>
          </div>

          <div class="card mb-4" style="max-width: 25rem">
            <img src="{% static 'images/minolta.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Minolta XG-M</h5>
              <p class="card-text">Wonderful analog camera from the mid to late 20th century. For analog enthusiasts <br>30€</p>
              <a href="#" class="btn btn-primary">Add to your shopping cart</a>
            </div>
          </div>
    
    </div>
    <div class="col mb-4">
        <div>&nbsp;</div>
        <div class="card mb-4" style="max-width: 25rem">
          <img src="{% static 'images/minolta.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Minolta XG-M</h5>
            <p class="card-text">Wonderful analog camera from the mid to late 20th century. For analog enthusiasts <br>30€</p>
            <a href="#" class="btn btn-primary">Add to your shopping cart</a>
          </div>
        </div>

        <div class="card" style="max-width: 25rem">
          <img src="{% static 'images/minolta.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Minolta XG-M</h5>
            <p class="card-text">Wonderful analog camera from the mid to late 20th century. For analog enthusiasts <br>30€</p>
            <a href="#" class="btn btn-primary">Add to your shopping cart</a>
          </div>
        </div>

        <div>&nbsp;</div>
        
        <div class="card" style="max-width: 25rem">
          <img src="{% static 'images/minolta.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Minolta XG-M</h5>
            <p class="card-text">Wonderful analog camera from the mid to late 20th century. For analog enthusiasts <br>30€</p>
            <a href="#" class="btn btn-primary">Add to your shopping cart</a>
          </div>
        </div>
        </div>
</div>




{% endblock content %}